<h1><%= @the_movie.title %></h1>
<p><%= @the_movie.description %></p>

<%= link_to "Edit Movie", edit_movie_path(@the_movie) %>
<%= link_to "Delete Movie", movie_path(@the_movie), method: :delete, data: { confirm: "Are you sure you want to delete this movie?" } %>
